<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title> 谷建文- 主页</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-area-chart"></i>
                                        <strong class="font-bold">博客管理系统</strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">管理
                        </div>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/web">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">站点设置</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/topic/blog">
                            <i class="fa fa-edit"></i>
                            <span class="nav-label">文章列表</span>
                        </a>
                    </li>
                     <li>
                        <a class="J_menuItem" href="/admin/music">
                            <i class="fa fa-edit"></i>
                            <span class="nav-label">音乐</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/topic/markdown">
                             <i class="fa fa-edit"></i>
                            <span class="nav-label">文章发布</span>
                        </a>
                    </li>
                    <li>
                     <a class="J_menuItem" href="/admin/email">
                             <i class="fa fa-envelope"></i>
                            <span class="nav-label">邮件发送</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a class="J_menuItem" href="/admin/user">
                            <i class="fa fa-edit"></i>
                            <span class="nav-label">用户管理</span>
                        </a>
                    </li> -->
                    <li>
                        <a class="J_menuItem" href="/admin/personal">
                            <i class="fa fa-table"></i>
                            <span class="nav-label">博主资料</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/mi">
                            <i class="fa fa-edit"></i>
                            <span class="nav-label">密码修改</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">分类添加</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="/admin/addCate">分类添加</a>
                            </li>
                            <li><a class="J_menuItem" href="/admin/cate">分类查看</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">友情管理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="/admin/addKied">友情添加</a>
                            </li>
                            <li><a class="J_menuItem" href="/admin/showKied">友情查看</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <form role="search" method="post" action="/user/dologout" style="margin-top:13px;float:right;">
                                <div class="form-group">
                                    <button class="btn btn-info">退出</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe id="J_iframe" width="100%" height="100%" src="/admin/plyr" frameborder="0" data-id="/admin/plyr" seamless></iframe>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>

    <!-- 全局js -->
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/plugins/layer/layer.min.js"></script>

    <!-- 自定义js -->
    <script src="js/hAdmin.js?v=4.1.0"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <!-- 第三方插件 -->
    <script src="js/plugins/pace/pace.min.js"></script>
<div style="text-align:center;">
<p>来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
</div>
</body>

</html>
